{% extends 'base.html'%}

{% block content %}
<div class="flashcard-display">
    <h1 class="title">{{ deck.name }}</h1>
    <p class="description">{{ deck.description }}</p>
    <p class="help-text">*This MLC7 Flashcard app is based on the honor system. Please truthfully choose if you got the answer correct or incorrect. If you cheat, you will eternally while-loop in SWDev purgatory! ;)</p>
    <div class="flex-grid">
        <div class="flash-card">
            <div class="front">
                <p class="question">{{ card.question }}</p>
            </div>
            <div class="back">
                <p class="answer">{{ card.answer }}</p>
            </div>
        </div>
    </div>
    <div class="answer-area">
        <p>I answered this question:</p>
        <div class="buttons-area">
            <a href="{% url 'correct_answer' deck.slug card.pk %}" class="correct">Correct</a>
            
            <a href="{% url 'incorrect_answer' deck.slug card.pk %}" class="incorrect">Incorrect</a>
        </div>
    </div>
</div>
{% endblock %}