{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="{% static 'js/home.js' %}" defer></script>
{% endblock %}
{% block content %}
<div class="home">
<h1>MLC7 Flashcards</h1>

    <div class="flex-grid">
    {% for deck in decks %}
        <a class="deck-box" href="{% url 'flashcard_index' deck.slug %}">
            <p class="title">{{ deck.name }}</p>
            <p class="description">{{ deck.description }}</p>
        </a>
    {% endfor %}
    </div>
</div>
{% comment %} {% block javascript %}
{% load static %}
<script src="{% static "flashcards/decks.js" %}"></script>
{% endblock %} {% endcomment %}

{% endblock %}