{% extends 'base.html' %}

{% block content %}
<div class='shadow'>
<header class='header'>
    <h1 class='title'>Name Flashcard App</h1>
    <h3 class='sub-title'>blurb</h3>
</header>
<nav class='nav'>
    <ul class='nav-list'>
        <li class='nav-item'><a href="">Select This</a></li>
        <li class='nav-item'><a href="">Choose That</a></li>
        <li class='nav-item'><a href="">New This, That</a></li>
        <li class='nav-item'><a href="">New Another</a></li>
    </ul>
</nav>
</div>
<div class='col'>
    <p class='col-heading'>Review Something</p>
    {% for card in cards %}
    <div id={{card.pk}} class="col-item">
        <p class='prev1'>{{card.title}}</p>
        <p class='prev2'>{{card.subject}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static "flashcards/decks.js" %}"></script>
{% endblock %}

