* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
}

a {
  text-decoration: none;
  color: #12922c;
}

/* Top Navigation
_______________________________________________________ */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: whitesmoke;
}

.navbar .logo {
  font-size: 32px;
  margin-left: 50px;
  font-weight: 600;
}

.navbar .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 20px;
}

.navbar .nav-links a {
  color: black;
  padding: 15px;
  transition: all 0.2s ease;
  font-size: 24px;
  font-weight: 400;
}

.navbar .nav-links a:hover {
  color: #12922c;
}

/* Deck Index
________________________________________________ */

.home h1 {
  font-size: 50px;
  font-family: Montserrat;
  text-align: center;
  margin: 50px 0 30px;
}

.home h3 {
  font-size: 20px;
  color: grey;
  justify-content: center;
  text-align: left;
  max-width: 700px;
  width: 95%;
}

.flex-grid {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.deck-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 0 5px grey;
  margin: 0 10px 20px;
  padding: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  text-align: center;
  height: 200px;
  width: 300px;
}

.deck-box:hover {
  box-shadow: 0 0 5px #12922c;
}

.deck-box .title {
  font-size: 32px;
  font-weight: 600;
}

.deck-box .description {
  font-size: 20px;
  font-weight: 400;
  color: black;
}

/* Flashcard Display
_______________________________________________ */

.flashcard-display {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.flashcard-display .title {
  margin: 30px 0 0;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #12922c;
}

.flashcard-display .description {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 600;
  color: black;
}

.flashcard-display .help-text {
  font-size: 16px;
  color: grey;
  text-align: left;
  max-width: 700px;
  width: 95%;
}

/* Flash Card Style */

.flash-card {
  border-radius: 10px;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 300px;
  border: 1px solid black;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.flash-card:hover {
  transform: rotateY(180deg);
}

.flash-card .front {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.flash-card .back {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #d5f2d1;
  transform: rotateY(180deg);
  padding: 10px;
}

.flash-card .question {
  font-size: 25px;
}

.flash-card .answer {
  font-size: 25px;
}

/* Answer Buttons */

.answer-area {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;
}

.answer-area > p {
  font-size: 24px;
  font-weight: 300;
}

.buttons-area {
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  align-items: center;
}

.buttons-area > * {
  padding: 10px 15px;
  margin: 20px 30px;
  transition: all 0.2s ease;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: white;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}

.correct {
  background-color: #16b335;
}

.correct:hover {
  background-color: #16b33590;
}

.incorrect {
  background-color: #f53b3b;
}

.incorrect:hover {
  background-color: #f53b3b90;
}

/* Score Buttons */

.score-area {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;
}

.score-area > p {
  font-size: 24px;
  font-weight: 300;
}

.buttons-area {
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
  align-items: center;
}

.buttons-area > * {
  padding: 10px 15px;
  margin: 20px 30px;
  transition: all 0.2s ease;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: white;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}

.correct_score {
  background-color: #16b335;
}

.correct_score:hover {
  background-color: #16b33590;
}

.incorrect_score {
  background-color: #f53b3b;
}

.incorrect_score:hover {
  background-color: #f53b3b90;
}
